header {
    background-color: #683e14;
}

.wrapper {
    background-color: #fefae0;
}

.close {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 1.5rem;
    cursor: pointer;
}

h1,
h3 {
    color: #410606;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.card-img-top:hover {
    scale: 1.03;
}

.fa-heart,
.fa-message {
    cursor: pointer;
    color: #704949;
    margin-left: 1rem;
}

.card {
    padding-top: 0.2rem;
    margin-bottom: 0.7rem;
}

.modalImage {
    width: 10rem;
    display: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    position: fixed;
    top: 3%;
    left: 50%;
    max-width: 90%;
    max-height: 100%;
    background-color: wheat;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 60%);
    transform: translateX(-50%);
    overflow-y: auto;
}

.modalInner {
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
        "x"
        "y"
        "z";
    max-height: 100vh;
    overflow-y: auto;
}
/* 
.leftSection,
.middleSection,
.rightSection {
    max-height: calc(100vh - 40px);
    overflow-y: auto;
} */

.leftSection {
    grid-area: x;
    padding: 0 1rem;
}

.middleSection {
    grid-area: y;
    background-color: aliceblue;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.rightSection {
    grid-area: z;
}

.error {
    color: red;
    visibility: hidden;
}

.movieSection {
    margin-bottom: 0.5rem;
}

.modal-text-desc {
    text-align: justify;
    max-width: 100%;
}

.middleTitle {
    text-align: center;
    color: goldenrod;
}

.showTitle {
    color: #410606;
}

.nameWrapper,
.messageWrapper {
    padding: 1rem;
}

.nameWrapper {
    padding-top: 0;
}

.submit-btn {
    margin-left: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
}

.submit-btn:hover {
    background-color: #410606;
    color: #f3f3f3;
}

.display-comments {
    margin-top: 5px;
    border-top: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    padding: 0.2rem;
    padding-top: 5px;
}

.comment {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.comment:first-child {
    margin-top: 0;
}

span.name {
    position: relative;
    font-weight: bold;
    margin-right: 0.4rem;
}

span.name::after {
    position: absolute;
    content: ":";
}

span.commentMessage {
    color: #111;
}

span.time {
    font-style: italic;
    font-size: 12px;
    color: #888;
    margin-left: 0.5rem;
}

.addcomment {
    text-align: center;
    color: #410606;
}

.commentsHeading {
    display: inline-flex;
    justify-content: center;
    margin: 1rem auto 0;
    width: 100%;
    padding: 0.5rem;
    color: #410606;
    text-align: center;
}

.card-body {
    display: grid;
    grid-template-areas:
        "a a"
        "b c";
}

.likeandMessWrapper {
    grid-area: c;
    display: flex;
}

.ratingsEl {
    grid-area: b;
}

.card-title {
    grid-area: a;
}

.commentsandNumCont,
.likes-comm-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

footer {
    background-color: #683e14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 18px;
}

.pagination {
    padding: 1rem;
    width: fit-content;
    margin: auto !important;
}

/* Style for Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #e2d7c3;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    scrollbar-color: #e2d7c3 transparent;
}

@media screen and (width > 670px) {
    .modalImage {
        display: block;
    }
}

@media screen and (width > 768px) {
    .modalInner {
        /* margin-top: 3rem; */
        grid-template-areas:
            "x y"
            "z z";
    }

    .rightSection {
        display: flex;
        justify-content: space-between;
    }

    h2 {
        font-size: 24px;
    }
}

@media screen and (width > 992px) {
    .modalInner {
        grid-template-areas: "x y z";
    }

    .rightSection {
        display: block;
    }
}
